* {
  box-sizing: border-box;
  margin: 20px auto;
}

body {
  font-family: Podkova, sans-serif;
  padding: 1em 3em;
  background-image: url(../images/insects_bg.png);
  background-position-x: center;
  background-position-y: center;
  text-align: center;
}

button {
  font-family: inherit;
  max-width: 200px;
  padding: 10px 5px;
  background-color: #ffc918;
  border: 2px solid;
  border-radius: 10px;
  font-size: 1.3rem;
  font-weight: 800;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

span {
  text-decoration: underline;
}

.section-bg {
  background-color: #ffc31d;
  border: 2px solid;
  border-radius: 10px;
  padding: 20px;
}

.beeBtn,
.waiting,
.warning,
#animatedBees,
.btnContainer {
  display: none;
}

.wrapper {
  background-color: #ffdb65;
  height: auto;
  width: 90%;
  padding: 1rem;
  border-radius: 20px;
}

.hotelName {
  display: block;
  text-decoration: none;
  margin: 0;
}

.tilt {
  display: inline-block;
  text-decoration: none;
}

.b_lower {
  transform: rotate(40deg);
}

.b_upper {
  transform: rotate(-35deg);
}

.pun {
  text-decoration: none;
  font-weight: 800;
}

.italic {
  font-style: italic;
  text-decoration: none;
}

.intro {
  max-width: 400px;
}

.insectContainer {
  display: flex;
  flex-wrap: wrap;
}

.insect {
  border: 1px solid;
  border-radius: 10px;
  padding: 10px;
}

.tempBtn {
  display: block;
  margin: 0 auto;
}

.checkTemp {
  max-width: 600px;
  margin-bottom: 50px;
}

.insect-hotel_container {
  max-width: 900px;
}

.insect-hotel_container img {
  border: solid 10px #ffc31d;
  border-radius: 10px;
}

@media (min-width: 700px) {
  .beeBtn,
  .warning,
  #animatedBees,
  .btnContainer {
    display: block;
  }

  .wrapper {
    width: 70%;
  }

  .warning {
    width: 400px;
    font-weight: 800;
  }

  .btnContainer {
    width: 300px;
  }

  .btnContainer p {
    color: rgb(0, 0, 0);
    font-weight: 600;
  }

  #animatedBees {
    width: 60px;
    height: 60px;
    position: absolute;
    left: -1000px;
    margin-top: 50px;
  }
}
